{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<!-- Manter aqui por causa do waypoint -->
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	{% block head %}{% endblock %}	
</head>
<body>

	{% block content %}{% endblock %}


	<!-- Search Ajax Feature -->
	<script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.1.min.js"></script>
	{% block js %}{% endblock %}
</body>
</html>