{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	{% block head %}{% endblock %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	
</head>
<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	{% block content %}{% endblock %}


	<!-- Search Ajax Feature -->
	<script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.1.min.js"></script>
	{% block js %}{% endblock %}
</body>
</html>