<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .link a {
            text-decoration: none;
            color: #333;
        }
        .unsubscribe a {
            position: absolute;
            display: block;
            color: #F00; 
            text-decoration: none;
            font-family: 'monospace'; 
            font-size: 11px;
            width: 180px;
            height: 16px;
            line-height: 22px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
            
        }
    </style>
</head>
<body>

</body>
</html>
<body style="padding: 0; margin: 0;">
    <table width="100%" bgcolor="#F3F3F3" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table bgcolor="#F3F3F3" style="width: 100%; max-width: 600px;" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td bgcolor="#C0C0C0" style="padding: 40px 30px 20px 30px;">
                            <table width="70" align="left" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="70" style="padding: 0 20px 20px 0;">
                                        <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/coffee-52-65365.png" width="70" height="70" style="height: auto;" border="0" alt="" />
                                    </td>
                                </tr>
                            </table>

                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 425px;">
                                <tr>
                                    <td height="70">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="padding: 0 0 0 3px; font-size: 15px; text-transform: uppercase; color: #333; font-family: sans-serif; letter-spacing: 2px;">
                                                    Catarse Literaria
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family: 'Umpush'; font-weight: lighter; padding: 5px 0 0 0; color: #333; font-size: 33px; line-height: 72px;"> <!-- 38px -->
                                                    Comunicado Oficial
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 30px 30px 30px 30px; border-bottom: 1px solid #f2eeed;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="color: #153643; font-family: 'monospace'; padding: 0 0 15px 0; font-size: 24px; line-height: 32px; text-align: justify;">
                                        Ola {{ person }}, nós somos os integrantes da: 'Catarse Literária' e gostaríamos que desse uma olhada em nossa nova resenha, que se trata de: "{{ title }}"
                                    </td>
                                </tr>
                                <tr>
                                    <td class="link" style="font-family: Ubuntu, Verdana, sans-serif, monospace; color: #333; text-indent: 50px; text-align: justify; font-size: 16px; line-height: 22px;">
                                        {% for link in links  %}
                                            {% if forloop.first %}
                                                <a href="SITE.COM{{ link.get_absolute_url }}">Clique aqui</a>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family: Ubuntu, Verdana, sans-serif, monospace; color: #333; text-indent: 50px; text-align: justify; font-size: 16px; line-height: 22px; text-align: right;">
                                        <br><br>
                                        Atenciosamente, <br>
                                        <b>Catarse Literaria</b> <br>
                                        enquantoesquentaocafe@gmail.com
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-bottom: 1px solid #f2eeed;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="unsubscribe" style="color: #F00; font-family: 'monospace'; font-size: 11px; line-height: 15px; text-align: left;">
                                        OBS: Se quiser remover seu e-mail dos inscritos, favor clique no link abaixo: &nbsp;&nbsp;{{ unsubscribe }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td bgcolor="#333">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" style="font-family: sans-serif; font-size: 14px; color: #FFF; padding: 20px 30px 15px 30px;">
                                        &reg; Copyright (c) 2018 Copyright Holder All Rights Reserved.<br/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>