{% extends 'base.html' %}
{% load static %}
{% block content %}
	<p>Criar um novo <a href="{% url 'post:post_create' %}">post</a></p>

	<form id="form" role="form" action="{% url 'post:search-submit' %}" method="post">
    {% csrf_token %}
        <input name="search"
            id="search"
            type="search"
            placeholder="Start typing here"
            ic-post-to="{% url 'post:search-ajax-submit' %}"
            ic-trigger-on="keyup changed"
            ic-trigger-delay="300ms"
            ic-target="#search-result-container"/>
        <button type="submit">Buscar</button>
    </form>
    <br><br><br><br>
    <span id="search-result-container"></span>


	<br><br><br><br><br>

	{% for post in posts %}
		<div class="row">
			<div class="col-sm-12">
				<div class="thumbnail">
					{% if post.image %}
						<img src='{{ post.image.url }}' class='img-responsive' />
					{% endif %}
					<div class="caption">
						{% if post.draft %}
							<h3 style="color: red">Staff only: Draft</h3>
						{% endif %} 
						{% if post.created > today %}
							<h3>Staff Only: Future Post</h3>
						{% endif %}

						<h3>
							<a href='{{ post.get_absolute_url }}'>{{ post.title }}</a>
							{% for tag in post.tag.all %}
          
								<a class="text-tag" href="{% url 'post:post_by_tag' tag.slug %}">{{ tag }}</a>
							{% endfor %}
							<small>{{ post.created }}</small>
							<br>
							<small>{{ post.read_time }}</small>
						</h3>
						{% if post.user.get_full_name %}
							<p>Author: {{ post.user.get_full_name }}</p>
						{% endif %}
						{% if user.is_authenticated %}
							<p>seu email e {{ user.email }}</p>							
						{% endif %}
						<p>{{ post.content|linebreaks|truncatechars:120 }}</p>
						<p><a href="{{ post.get_absolute_url }}">Visualizar</a></p>
					</div>
				</div>
			</div>
			<hr/>
		</div>
	{% endfor %}

	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.1.min.js"></script>
{% endblock %}