{% extends 'base.html' %}
{% load hitcount_tags %}
{% load urlify %}

{% block head %}
	{{title}}
{% endblock %}

{% block content %}
<p>{{ hitcount.total_hits }}</p>
<div class='col-sm-6 col-sm-offset-3'>
    {% if instance.image %}
    <img src='{{ instance.image.url }}' class='img-responsive' />
    {% endif %}
<h1>{{ instance.title }} <small>
	{% if instance.draft %}
	<span style='color:red;'>Draft</span> 
{% endif %}
{{ instance.publish }}</small></h1>
<h3><small>Tempo decorrido apos a publicacao > </small>{{ instance.timestamp|timesince }}</h3>
{% if instance.user.get_full_name %}

<p>Author: {{ instance.user.get_full_name }}</p>
<p>Read time: {{ instance.read_time }}</p>
{% endif %}

<hr/>
</p>


<div class='row'>
<div class='col-sm-12'>

{{ instance.content|linebreaks }}

<hr/>
<br/>

{% if user.is_authenticated %}
	<a href="{% url 'post:update' instance.slug %}">Alterar</a>
	<a href="{% url 'post:delete' instance.slug %}">Excluir</a>
{% endif %}

</div>
</div>
</div>


{% endblock content %}