{% extends 'base.html' %}
{% load static %}
{% load imagekit %}
{% load hitcount_tags %}
{% get_hit_count_js_variables for post as hitcount %}


{% block head %}
	
{% endblock %}

{% block content %}
	<p>Criar um novo <a href="{% url 'post:post_create' %}">post</a></p>

	<form id="form" role="form" action="{% url 'post:search-submit' %}" method="post">
    {% csrf_token %}
        <input name="search"
            id="search"
            type="search"
            placeholder="Start typing here"
            ic-post-to="{% url 'post:search-ajax-submit' %}"
            ic-trigger-on="keyup changed"
            ic-trigger-delay="300ms"
            ic-target="#search-result-container"/>
        <button type="submit">Buscar</button>
    </form>
    <br><br><br><br>
    <span id="search-result-container"></span>


	<br><br><br><br><br>
	<h1>Atualmente, temos {{ num_posts }} resenhas em nosso blog.</h1>
	<div class="infinite-container">
		{% for post in posts %}
			<div class="row infinite-item">
				<div class="col-sm-12">
					<div class="thumbnail">
						{% if post.image %}
							<img src='{{ post.image.url }}' class='img-responsive' />
						{% endif %}
						<div class="caption">
							{% if post.draft %}
								<h3 style="color: red">Staff only: Draft</h3>
							{% endif %}
							{% if post.publish|date:"d/m/Y" > today|date:"d/m/Y" %}
								<h3>Futuro post</h3>
							{% endif %}


							{# <a href="{% url 'post:detail' year=post.publish.year month=post.publish.month day=post.publish.day slug=post.slug %}">{{ post.title }}</a> #}
							<a href='{{ post.get_absolute_url }}'>{{ post.title }}</a>
							<div class="stats">
								<span>
									{% if post.get_num_view == 1 %}
										{{ post.get_num_view }} Visualizacao</span>
									{% else %}
										{{ post.get_num_view }} Visualizacoes</span>
									{% endif %}
								
							</div>
							<br><br> <span>Todas tags</span><br>
							{% for tag in post.tag.all %}

								<a class="text-tag" href="{% url 'post:post_by_tag' tag.slug %}">{{ tag.title }}</a>
							{% endfor %}
							<h3>
								<small>{{ post.created }}</small>
								<br>
								<small>{{ post.read_time }}</small>
							</h3>
							{% if post.user.get_full_name %}
								<p>Author: {{ post.user.get_full_name }}</p>
							{% endif %}

							{% if post.user.get_avatar %}
								<img src="{{ post.user.get_avatar }}" alt="">
							{% endif %}

							{% if user.is_authenticated %}
								<p>seu email e {{ user.email }}</p>
							{% endif %}
							<p>{{ post.content|linebreaks|truncatechars:120 }}</p>
						</div>
					</div>
				</div>
				<hr/>
			</div>
			<br><br><br><br><br>
		{% endfor %}
	</div>

	{% if posts.has_next %}
		<a class="infinite-more-link" href="?page={{ posts.next_page_number }}">Mais</a>
	{% endif %}

	<div class="loading" style="display: none;">
		Loading...
	</div>

	{% block js %}
		<script type="text/javascript" src="{% static 'js/jquery.waypoints.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/infinite.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
	{% endblock %}

{% endblock %}