{% extends 'base.html' %}
{% load static %}
{% load urlify %}
{% load hitcount_tags %}
{% get_hit_count_js_variables for post as hitcount %}
{% get_hit_count for post as total_hits %}

{% block content %}

<span>{{ total_hits }} views</span>

<br><br>
<div class='col-sm-6 col-sm-offset-3'>
    {% if post.image %}
    <img src='{{ post.image.url }}' class='img-responsive' />
    {% endif %}
<h1>{{ post.title }} <small>
	{% if post.draft %}
	<span style='color:red;'>Draft</span> 
{% endif %}
<br>
{{ post.publish }}</small></h1>
<h3><small>Tempo decorrido apos a publicacao > </small>{{ post.timestamp|timesince }}</h3>
{% if post.user.get_full_name %}

<p>Author: {{ post.user.get_full_name }}</p>
<p>Read time: {{ post.read_time }}</p>
{% endif %}

<hr/>
</p>


<div class='row'>
<div class='col-sm-12'>
{{ post.content|linebreaks }}

<hr/>
<br/>

{% if user.is_authenticated %}
	<a href="{% url 'post:update' post.slug %}">Alterar</a>
	<a href="{% url 'post:delete' post.slug %}">Excluir</a>
{% endif %}

</div>
</div>
</div>

<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<hr/>
</p>

<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>
<a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">Twitter</a>
<a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}">Google+</a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}/&title={{ object.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">Linkedin</a>

<div
    class="fb-comments"
    data-href="{{ request.build_absolute_uri }}"
    data-numposts="5">
</div>
<br><br><br>


{% endblock content %}

{% block js %}
    <script src="{% static 'js/jquery.postcsrf.js' %}"></script>
    {% get_hit_count_js_variables for post as hitcount %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $.postCSRF("{{ hitcount.ajax_url }}", { hitcountPK : "{{ hitcount.pk }}" })
            .done(function(data){
                $('<i />').text(data.hit_counted).attr('id','hit-counted-value').appendTo('#hit-counted');
                $('#hit-response').text(data.hit_message);
            }).fail(function(data){
                console.log('POST failed');
                console.log(data);
            });
        });
    </script>
{% endblock %}