{% extends 'base.html' %}
{% load static %}
{% block content %}
	<p>Criar um novo <a href="{% url 'post:post_create' %}">post</a></p>

	{% csrf_token %} 
	<input type="text" id="search" />
	<div id="searchbox_container">
		<div id="searchbox"></div>
	</div>

	<br><br><br><br><br>

	{% for post in posts %}
		<div class="row">
			<div class="col-sm-12">
				<div class="thumbnail">
					{% if post.image %}
						<img src='{{ post.image.url }}' class='img-responsive' />
					{% endif %}
					<div class="caption">
						{% if post.draft %}
							<h3 style="color: red">Staff only: Draft</h3>
						{% endif %} 
						{% if post.created > today %}
							<h3>Staff Only: Future Post</h3>
						{% endif %}

						<h3>
							<a href='{{ post.get_absolute_url }}'>{{ post.title }}</a>
							{% for tag in post.tag.all %}
          
								<a class="text-tag" href="{% url 'post:post_by_tag' tag.slug %}">{{ tag }}</a>
							{% endfor %}
							<small>{{ post.created }}</small>
							<br>
							<small>{{ post.read_time }}</small>
						</h3>
						{% if post.user.get_full_name %}
							<p>Author: {{ post.user.get_full_name }}</p>
						{% endif %}
						{% if user.is_authenticated %}
							<p>seu email e {{ user.email }}</p>							
						{% endif %}
						<p>{{ post.content|linebreaks|truncatechars:120 }}</p>
						<p><a href="{{ post.get_absolute_url }}">Visualizar</a></p>
					</div>
				</div>
			</div>
			<hr/>
		</div>
	{% endfor %}
{% endblock %}